html {
    background-image: url("binary.png");
}

body {
    font-size: 100%;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid green;
    background-color: aliceblue;
}

.main-heading {
    text-align: center;
    border-bottom: 3px solid green;
}

.about-me {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 3px solid green;
}

h1 {
    color: blue;
}

.column-header {
    text-align: center;
    color: green;
}

.left-column {
    width: 480px;
    padding-left: 5px;
}

.right-column {
    text-align: right;
    width: 480px;
    padding-right: 5px;
}

.left-column p {
    font-size: 60%;
}

footer {
    border-top: 3px solid green;
    text-align: center;
}